body{
	font-family: FuturaBookC, sans-serif;
	margin:0;
	height: 950px;
}

header{
	width: 100%;
	height: 77px;
	background-color: #392675;
}

button{
	width: 182px;
	height: 45px;
	border-radius: 10px;
	background-color: #C3669C;
	font-size: 20px;
	border: 0;
	margin: 0px 0px 10px 16px;
	color:white;
}

button:hover{
	cursor: pointer;
}

button a{
	text-decoration: none;
	color: #ffffff;
}

button p{
	text-decoration: none;
	color: #ffffff;
	
}

button#start{
	width: 466px;
	height: 45px;
	margin: auto auto;
	position: absolute;
	left: 50%;
	transform:translate(-50%, 0%); 
	top: 326px;
}

button.play{
	width: 466px;
	height: 45px;
	margin: auto auto;
	position: absolute;
	left: 50%;
	transform:translate(-50%, 0%); 
	top: 326px;
}

#back_button{
	width: 466px;
	height: 45px;
	margin: auto auto;
	position: absolute;
	left: 50%;
	transform:translate(-50%, 0%); 
	top: 326px;
}

button.offer{
	width: 462px;
	height: 45px;
	margin: 65px auto; 
	position: relative;
left: 50%;
transform: translate(-50%, 0); 
}

h1{
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	font-family: FuturaDemiC;
	color: #392675;
	margin-top: 43px;
	
}

.right{
	float: right;
	margin-right: 20px;
	margin-top: 13px;
}

.left{
	float: left;
	margin-left: 20px;
	margin-top: 13px;
}

.logo{
	float: left;
	margin-left: 10px;
	margin-top: 6px;
}

picture.name img{
	height: 232px;
	width: 998px;
	display: block;
  	margin: 72px auto -20px;
}

.filter{
	width: 220px;
	height: 423px;
	border: 1px solid #C3669C;

	border-radius: 10px;
	display: inline-block;
	position: relative;
}

.main{
	width: 710px;
	margin-left: 20px;
	display: inline-block;
	position: absolute;
	top: 0;
	height: 423px;
	margin-bottom: 30px;
}
h2{

	font-size: 24px;
	color: #392675;
	margin: 11px 13px 0 13px;
}

h3{
	font-size: 18px;
	color: #C3669C;
	line-height: 20px;
	letter-spacing: 0em;
	margin: 15px 13px 0 13px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.wrap ul {
  	list-style-position: inside;
  	-moz-column-count: 2; /* Firefox */
  	-webkit-column-count: 2; /* Safari and Chrome */
  	column-count: 2;
	margin: 15px 0 150px 13px;
  	height: 120px;

}

.filb{
	position: absolute;

	left: 19px;
	bottom: 10px;
}

.search button{
	position: absolute;
	right: 0;
}

li{
	font-size: 24px;
	line-height: 26px;
	display: flex;
	align-items: end;
    color: #392675;
  }

.content{
	position: relative;
	width: 950px;
	margin: auto;
}

#article{
	position: absolute;
	bottom: 0;
	color: #392675;
}

.search input[type=text] {
  	border: 1px solid #392675;
  	width: 485px;
	height: 42px;
  	border-radius: 10px;
  	position: absolute;
  	top: 0;
  	padding-left: 20px;
  	color: #392675;
}

.word{
	height: 100px;
}

.word input[type=text] {
  	border: 1px solid #392675;
  	width: 75%;
	height: 42px;
 	border-radius: 10px;
	display: inline-block;
 	padding-left: 20px;
  	color: #392675;
 	padding-top: 1px;
  	vertical-align: text-top;
}

.word h2{
	display: inline-block;
	font-family: FuturaDemiC;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
	text-align: left;
	margin: 0;
	color: #392675;
}

.second{
	width: 20%;
	display: inline-block;
}

.second p{
	font-size: 14px;
}

input[type=checkbox] {
  border: 1px solid #C3669C;
  width: 17px;
  height: 17px;
  margin-right: 7px;
}

input{
	/* border-color: #392675;*/
	float: right;
}


.word.yourver{
	height: 97px;
}

.answer input {
	border: 1px solid #392675;
    width: 880px;
	height: 73px;
    border-radius: 10px;
    padding-left: 20px;
    color: #392675;
	position: absolute;
	top: 186px;
		
	left:50%;
	transform:translate(-50%, 0%); 
	font-size: 26px;
}

p{
	font-size: 24px;
	color: #392675;
}

.test p{
	margin-left: 140px;
	margin-top: 35px;
	margin-right: 120px;
}
.background{
	position: absolute;
	z-index: -100;
	top: 122px;
	
	left:50%;
	transform:translate(-50%, 0%); 
	width: 1161px;
	height: 869px;

}

.test{
	width: 954px;
	height: 440px;
	background: #FFFFFF;
	border: 1px solid #C3669C;
	margin: 257px auto;
	border-radius: 10px;
	position: relative;
}

.test h2{
	font-family: FuturaDemiC;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	margin-top: 9px;
	color: #392675;
}

#game{
	margin-top: 34px;
	
}

.hidden{
	position: absolute;
	left:50%;
	transform:translate(-50%, 0%);
	top: 77px;
	 visibility: hidden;
}

.hidden2{
	visibility: hidden;
}

.hidden1{
	visibility: hidden;
}

.center{
	text-align: center;
}

#results{
	/*visibility: hidden;*/
	margin-top: 70px;
}

p#new{
	font-size: 18px;
	text-align: center;
}

p a{
	text-decoration: none;
	color: #C3669C;
}

#results p{
	display: inline-block;
	margin-right: 20px;
	font-family: FuturaDemiC;
}

#firstw{
	font-size: 36px;
	color:  #392675;
}

#secondw{
	font-size: 28px;
	color: rgba(57, 38, 117, 0.6);
}

#thirdw{
	font-size: 24px;
	color: rgba(57, 38, 117, 0.4);
}

.hidden{
	visibility: hidden;
}

#add{
	cursor: pointer;
}

#logo_pic{
	cursor: pointer;
}